body{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#history{
    border : solid 1px black;
    width: 15%;
    float: right;
    height: 630px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h3 {
    text-align: center;
    font-weight: initial;
}

.historyParentBlock {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 2% auto;
}

.historyPicture {
    height: 32px;
    width: 32px;
}

#viewport{
    height: 648px;
    width: 70%;
    margin : 15vh 5%;
}

h1 {
    text-align: center;
}

#game {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons{
    margin : auto 15px;
    width: 12%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons * {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 13px Arial;
    border-radius:50%;
    border-left: #9b9b9b solid 2px;
    border-top: #9b9b9b solid 2px;
    color:#555;
    cursor: pointer;
}

.buttons *:active{
    background: #e6e6e6;
    border-right: #9b9b9b solid 2px;
    border-bottom: #9b9b9b solid 2px;
    border-left: none;
    border-top: none;
}

.picture {
    border: thin solid black;
    width: 327px;
    height: 207px;
    margin: auto 0;
}

#iaPicture{
    padding-top: 5px;
}

h2 {
    margin: auto 5px;
}

.result{
    width: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.score{
    height: 50px;
    border: solid black thin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.victory{
    border: black thin solid;
    height: 50px;
    width: 35%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 128, 14, 0.31);
}

.defeat{
    border: black thin solid;
    height: 50px;
    width: 35%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.3);
}

